<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <nav class="nav">
      <a href="/auth/instagram">Login</a>
      <a href="/logout">Logout</a>
    </nav>
  <body>
    {{{body}}}
  </body>
</html>
