<p>
  <a class="back" href="/">Back to HomePage</a>
</p>


<form class="" action="/new" method="post">

  <div class="inputs">
    <label for="imgURL">Image URL:
      <input type="text" name="imgURL" id="imgURL"value="">
    </label>
  </div>

  <div class="inputs">
    <label for="artist">Artist:
      <input type="text" name="artist" id="artist"value="">
    </label>
  </div>

  <div class="inputs">
    <label for="album">Album:
      <input type="text" name="album" id="album"value="">
    </label>
  </div>

  <div class="inputs">
    <label for="release">
      Release Date:<input type="text" name="release" id="release"value="">
    </label>
  </div>

  <p>
    Add Album Description Here:
  </p>
  <textarea name="albumDescription" rows="8" cols="40" placeholder="Album Description"></textarea>

  <input type="submit" class="button" value="Add Collection">


</form>

<div class="coverSearchDiv">
  <form class="" action="/coverSearch" method="post">
    <p>
      Search For Album Cover:
      <input type="text" name="albumCover" value="">
      <input type="submit" name="name" value="Search" class="button">
    </p>

  </form>

</div>
<div class="searchImages">
  <img src="{{albumCover}}" alt="" class="albumCoverImage"/>
  <img src="{{albumCover2}}" alt="" class="albumCoverImage"/>
  <img src="{{albumCover3}}" alt="" class="albumCoverImage"/>
</div>


<!-- <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

<script type="text/javascript">
  $( ".button" ).click(function() {
  $( ".searchImages" ).show();
});
</script> -->
