
<form class="" action="/new" method="post">

  <div class="">
    <label for="imgURL">Image URL
    <input type="text" name="imgURL" id="imgURL"value="">
  </label>
  </div>

<div class="">
  <label for="artist">Artist
  <input type="text" name="artist" id="artist"value="">
</label>
</div>

<div class="">
  <label for="album">Album
  <input type="text" name="album" id="album"value="">
</label>
</div>

<div class="">
  <label for="release">Release Date
  <input type="text" name="release" id="release"value="">
</label>
</div>
Add Album Description Here
<textarea name="albumDescription" rows="8" cols="40"></textarea>

  <input type="submit" value="Add Collection">


</form>

<div class="coverSearchDiv">
  <form class="" action="/coverSearch" method="post">
    Search for album cover
    <input type="text" name="albumCover" value="">
    <input type="submit" name="name" value="Search">
  </form>

</div>

<img src="{{albumCover}}" alt="" class="albumCoverImage"/>
<img src="{{albumCover2}}" alt="" class="albumCoverImage"/>
<img src="{{albumCover3}}" alt="" class="albumCoverImage"/>
