
<form class="" action="/new" method="post">

  <div class="">
    <label for="imgURL">Image URL
    <input type="text" name="imgURL" id="imgURL"value="">
  </label>
  </div>

<div class="">
  <label for="artist">Artist
  <input type="text" name="artist" id="artist"value="">
</label>
</div>

<div class="">
  <label for="album">Album
  <input type="text" name="album" id="album"value="">
</label>
</div>

<div class="">
  <label for="release">Release Date
  <input type="text" name="release" id="release"value="">
</label>
</div>

  <input type="submit" value="Add Collection">


</form>
