*, *:before, *:after {
  box-sizing: border-box;
}

img, embed, object, video{
  max-width: 100%;
  height: auto;
}

.postTitle {
  font-size: 40px;
  text-align: center;
}

.header {
  background-image: url(http://38.media.tumblr.com/tumblr_kx4gp9Srcg1qafd25.jpg);
  background-size: auto;
  height: 80px;
  width: auto;
  color: #fff;
}



body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F2EFE4;
}

a {
  color: #fff;
  text-decoration: none;
}

.back {
  color: black;
}

.nav {
  float: right;
  height: auto;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}

/* .nav a{
  color: white;
  text-decoration: none;
} */
.imgURL{
  height: 300px;
  width: 300px;
  border-radius: 999em;
  border: 10px solid #000;
}

.posts {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 60%;
  border:3px solid white;
  padding: 10px;

}

form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: left;
}

label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 5% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;
}

.albumCoverImage{
  border: none;
  height: 400px;
  width: 400px;
  border:0;
}


.button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}

.inputs {
  padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
  width: 30%;
}

.description {
  text-align: center;
}
