body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav {
  float: right;
}

.imgURL{
  height: 200px;
  width: 200px;
}

.posts {
  margin-bottom: 10px;
  text-align: center;
}

.albumCoverImage{
  height: 400px;
  width: 400px;
  border:0;
}

img {
   border: none;
}
